<div class="grid_16">
	<p>Por favor rellena la ficha con la información del juguete que quieres regalar.<br/>Es fácil y no te costará nada.</p>
</div>
<div class="clear"></div>
<div class="grid_10 suffix_6">
<%= render 'form' %>
</div>
<div class="clear"></div>

