<p>Hola amig@</p>

<p>¡Que bueno! Ya te dijimos que seguro que a a alguien le iba a gustar tu <%= @title %>. Por favor ponte en contacto con el a través de la siguiente dirección de correo <%=@contact%>. Escríbele y ver como podéis quedar para que le entregues el juguete. Que no te de pereza. Es mejor llevar a cabo esta buena acción y regalar ese juguete. Recuerda que seguramente harás muy feliz a otro niñ@.</p>

<p>Si tienes algún problema o quieres consultarnos cualquier cosa, no dudes en ponerte en contacto con nosotros.</p>

<p>Mucha gracias.</p>


