<p>Hola amig@</p>
<p>Que bueno! Alguien a mostrado interés por tu <%=@title%>.Ya te dijimos que otro niñ@ podría seguir disfrutando con tu "viejo" juguete;)</p>
<p>Por favor ponte en contacto  con el a través de la siguiente dirección de correo <%=@contact%>. Escríbele y ver como podéis quedar para que le entregues el juguete.</p>
<p>Si tienes algún problema o quieres consultarnos cualquier cosa, no dudes en ponerte en contacto con nosotros.</p>
<p>El Equipo de Juguetea</p>


