<p>Hola amig@</p>
<p>Estamos muy contentos de que hayas decidido unirte a Juguetea. Compartiendo uno de tus "viejos" juguetes seguro que haces feliz a alguien.</p>
<p>Para que publiquemos tu juguete en nuestra web solo falta que pinches en el siguiente enlace <%= @url %></p>
<p>Si tienes algún problema o quieres consultarnos cualquier cosa, no dudes en ponerte en contacto con nosotros.</p>
<p>Y si puede ser, habla a tus familiares y amigos a cerca de Juguetea ;) Muchas gracias.</p>
<p>El Equipo de Juguetea</p>