<p>Hola amig@</p>

<p>Gracias por compartir tu juguete con todos los amigos de Juguetea. Ya sabes como funciona esto, tienes que pinchar en el siguiente enlace <%= @url%> para que nos confirmes que quieres regalárselo a alguien. En cuanto lo hayas hecho, tu juguete estará visible y para todos aquellos a los que les pueda interesar.</p>

<p> Te recordamos que nosotros jamás entregamos tu dirección de correo electrónico a nadie y que los interesados en tu juguete solo podrán contactar contigo a través de nosotros. En cuanto alguien este interesado en tu juguete nos pondremos en contacto contigo y te informaremos como ponerte en contacto con el interesado.</p>

<p>Una vez más gracias por participar y compartir tu juguete. Si tienes algún problema o quieres consultarnos cualquier cosa, no dudes en ponerte en contacto con nosotros.</p>

<p>Un saludo.</p>
