<p>Bienvenido a wantatoy.</p>
<p>Para completar el proceso de alta del juguete y activarlo, pincha en el siguiente enlace <%= @url%></p>
<p>Una vez hayas activado el juguete nos pondremos en contacto contigo en cuanto alguien esté interesado en el.</p>
<p>Muchas gracias por todo.</p>