<p>¡Hola amig@!</p>

<p>Estamos muy contentos de que hayas decidido unirte a esta iniciativa. Ya sea porque los niños se hacen mayores y dejan de interesarles, o bien porque les "saturamos" con demasiados juguetes y no pueden disfrutar de todos a la vez, muchos juguetes se quedan en el olvido. El objetivo de Juguetea es dar "una nueva vida" a todos esos juguetes que tienes olvidados en tu casa y hacer feliz a otro niño!</p>

<p>¿Os habéis fijado que muchas veces los niños disfrutan con los juguetes más básicos? Creemos que cuanto más sofisticados y caros mejor, pero muchas veces no es así. Por eso creemos que es necesaria esta iniciativa, que permita regalar los juguetes que tus hijos, sobrinos, primos o nietos han disfrutado pero que ya han sido relegados a un segundo plano en sus juegos. Seguro que hay algún niño cerca de ti que puede seguir disfrutando con ese juguete. Además para que negarlo, todos necesitamos hacer un hueco en nuestras casas ;)</p>

<p>Así que gracias por participar y compartir tu juguete. Lo siguiente que tienes que hacer es pinchar en el siguiente enlace <%= @url %> y esperar a que alguien a quien le interese se ponga en contacto contigo a través nuestro. Para que estés tranquilo, nosotros nunca le entregaremos tu dirección de correo a nadie, y será el equipo de Juguetea el que se pondrá en contacto contigo cuando alguien muestre interés por tu juguete pidiéndote que te pongas en contacto con el. Para cualquier cosa no dudes en ponerte en contacto con nosotros.</p>

<p>Nada más, bueno si...habla a tus amigos de Juguetea y ayúdanos a dar a conocer este proyecto.</p>

<p>Muchas gracias.</p>