/* general styles */
body {
text-rendering: optimizeLegibility;
}

button:hover {
cursor: pointer;
}

button::-moz-focus-inner {
border:0;
}

/* thoughtbot (inspired by thoughtbot.com)
*******************************************************************************/
button.thoughtbot {
background:#109DD8;
background: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
border: 1px solid #00B6FF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
color: #F6F5F5;
font-family: "helvetica neue", helvetica, arial, sans-serif;
font-size: 16px;
font-weight: bold;
line-height: 1;
padding: 12px 0 10px 0;
text-align: center;
text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
width: 100px;
vertical-align:middle;
display: inline;
}

button.thoughtbot:hover {
background:#007DAF;
background: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
color: #fff;
cursor: pointer;
}

button.thoughtbot:active {
  background: #b30300;
  background: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
}

/* webkit badge
*******************************************************************************/
button.webkit-badge {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
  color: #fff;
  font-family: "hoefler text", georgia, serif;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  height: 88px;
  line-height: 1;
  padding: 0;
  text-align: center;
  text-shadow: 0px -1px 1px #3d0700;
  width: 150px;
  -webkit-mask-image: url("../images/badge.png");
  -webkit-mask-position: left top;
  -webkit-mask-repeat: no-repeat;
}

button.webkit-badge:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
  cursor: pointer;
}

button.webkit-badge:active {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
}

/* webkit seal
*******************************************************************************/
button.webkit-seal {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #9e76e8), color-stop(1, #6224de));
  color: #fff;
  height: 90px;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  text-align: center;
  text-shadow: 0px -1px 1px #473569;
  width: 150px;
  -webkit-mask-image: url("../images/seal.png");
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}

button.webkit-seal:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #8d69cf), color-stop(1, #561fc4));
  cursor: pointer;
}

button.webkit-seal:active {
  background: -webkit-gradient(radial, 50% 50%, 40, 50% 50%, 0, from(rgba(38, 76, 153, 0.2)), to(rgba(11, 23, 46, 0.2))), -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7b5cb5), color-stop(1, #4b1bab));
}

/* webkit check
*******************************************************************************/
button.webkit-check {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #779be9), color-stop(1, #2463de));
  color: #fff;
  height: 88px;
  line-height: 1;
  padding: 0;
  text-align: center;
  text-indent: -9999px;
  text-shadow: 0px -1px 1px #3d0700;
  width: 150px;
  -webkit-mask-image: url("../images/check.png");
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}

button.webkit-check:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #6989cf), color-stop(1, #1d55c4));
  cursor: pointer;
}

button.webkit-check:active {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #5c78b5), color-stop(1, #1b4bab));
}

/* disabled button styles
   works with this markup: <button disabled="disabled">Submit</button>
*******************************************************************************/
button[disabled],
button[disabled]:hover,
button[disabled]:active {
  background: #999;
  border: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: #aaa;
  cursor: not-allowed;
  text-shadow: none;
}