html,body {margin:0;padding:0;height:100%;letter-spacing:-0.03em;}
body{background-color:#ffffff;font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;height: 100%;}
div#header {background:#333333;}
div#header h1{color:#ffffff;}
div#currentlocation{background:#EC5810;height:40px;color:#3EBAF7;text-align:right;}
div#currentlocation h6{color:#ffffff;font-size:1.4em;padding-top:5px;}
h1,h2,h3,h4,h5,h6{letter-spacing:-0.03em;}
h1{color:#333333;font-size:400%;margin:0;padding:0;}
h2{color:#333333;font-size:350%;margin:0;padding:0;}
h5{color:#333333;}
h6{color:#EC5810;font-size:1.6em;font-weight:300;margin-bottom:10px;}
div#confirm h1{color:#EC5810;font-weight:300;}
p{font-size:2em;}
span{text-align:center;}
#container {min-height:100%;position:relative;}
div#highlight{border-bottom:5px solid #DDDDDD;}
#message{padding-top:128px;}

/* * * Toy detail * * */
#toy_detail{margin-top:20px;}
#toy_detail h1{font-size:2.2em;padding:0;margin:0;}

/* * * Navigation menu * * */ 
ul#nav {float: right;padding: 0;white-space: nowrap;margin: 28px 0px 14px 0px;position:relative;white-space: nowrap;}
ul#nav li {list-style-type: none;display: inline-block;}
ul#nav li a {color:#DDDDDD;font-family:'Helvetica Neue',Helvetica,Arial;font-size:1.4em;font-weight:normal;text-decoration:none;padding: 0.4em 0;}
/*ul#nav li a.current {color:#3EBAF7;}*/
ul#nav li a:hover {color:#ffffff;}

/* * * Grid imagenes * * */
#grid{margin:20px 0 20px 0;}
div.thumb {width:200px;height:200px;overflow:hidden;}
div.thumb_mini {width:90px;height:90px;overflow:hidden;}
.box{clear:left;overflow:hidden;padding:0 0 10px;position:relative;}
.box_mini{clear:left;overflow:hidden;padding:0 0 5px;position:relative;}
.thumb{background:#fff;border:1px solid #E0E3DC;margin:0px;padding:9px;}
.thumb_mini{background:#fff;border:1px solid #E0E3DC;margin-top:5px;padding:4px;}
.borderbox{background:#fff;border:1px solid #E0E3DC;margin:0px;padding:9px;}
/*.borderboxmini{background:#fff;border:1px solid #E0E3DC;margin-top:10px;padding:9px;}*/

/* * * Tooltip effect * * */
div.box a.gallery-over {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;color:#888888;font-size:0.8em;
height:180px;left:10px;line-height:2em;padding:10px;margin:0;opacity:0;position:absolute;text-decoration:none;top:10px;width:180px;}
div.box a.gallery-over strong {color:#109DD8;display:block;font-size:1.4em;font-weight:bold;line-height:1.2em;margin:0;}
div.box a.gallery-over span.dim {color:#666666;font-weight:bold;}

div.box_mini a.gallery-over {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;color:#888888;font-size:0.7em;
height:80px;left:10px;line-height:2em;margin:0;opacity:0;position:absolute;text-decoration:none;top:10px;width:80px;}
div.box_mini a.gallery-over strong {color:#109DD8;display:block;font-size:1.2em;font-weight:bold;line-height:1.2em;margin:0;}

/* * * Validation messages * * */
div#error_explanation{color:red;font-size:1.2em;padding:10px 0 0 0;margin:0;}
div#error_explanation ul li{list-style-type: none;padding:0;margin:0;}

/* * * Footer * * */
#content {padding-bottom:60px;} /* Height of the footer */
#footer {position:absolute;bottom:0;width:100%;height:60px;background:#eeeeee;border-top:1px solid #DDDDDD;}
#footer p {float:right;margin-top:20px;font-size:1.2em;font-weight:normal;}
#twitter img{float:right;padding-top:6px;}

/* * * Paginacion * * */
div.pagination {color: #fff;margin-top:10px;float:right;}
div.pagination a {padding: 10px;margin: 10px 0 10px 0;background-color:#109DD8;text-decoration: none;color: #fff;}
div.pagination a:hover, div.pagination a:active {background-color:#ec5210;color: #fff;}
div.pagination em {padding: 10px;margin: 10px 0 10px 0;background-color:#ec5210;color:#fff;}
div.pagination span.disabled {padding: 10px;margin: 10px 0 10px 0;background-color:#E6EFF7;color: #ccc;display:none;}

/* * * FORMS * * */
.small{width:15%;}
.medium{width:65%;}
.large{width:80%;}
.full{width:98%;}
#form{margin-top:10px;padding: 0px;}
#form label{font-size:.8em;display: block; margin-top: 12px;}
#form p {padding: 0px; margin: 0px;}
#form .input{margin: 0px 10px 0px 0px;border: 1px solid #CCCCCC;padding: 7px;background-color: #F3F3F3;}
#form .styled_textarea{font-size:18px;font-family:'Helvetica Neue',Helvetica,Arial, san-serif;margin-bottom: 10px; background-color: #F3F3F3; width: 83%; padding: 0px; border: 1px solid #CCCCCC;}
#form input[type="text"]{font-size:18px;font-family: 'Helvetica Neue',Helvetica,Arial, san-serif;position:relative;outline: none;}
#form input[type="text"]:focus{background-color: #FFFFE1; border: 1px solid #999999;}
#form textarea:focus{background-color: #FFFFE1; border: 1px solid #999999;}
#form input[type="email"]{font-size:18px;font-family: 'Helvetica Neue',Helvetica,Arial, san-serif;position:relative;outline: none;}
#form input[type="email"]:focus{background-color: #FFFFE1; border: 1px solid #999999;}

.contact_textfield{width:240px;}
.field_with_errors{display:inline;}
div.tiny{font-size:1em;}

/* Parrafos numerados */
p.numbered{font-size:1.8em;}
ul.step-list {
    display: inline;
    float: right;
    list-style-type: none;
    padding: 0;
}
.step-list li {
    margin: 0 0 20px;
    padding-left: 40px;
}
.step-list li .number {
    background: url("../images/orange-circle.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline;
    float: left;
    font-size: 1.2em;
    height: 23px;
    line-height: 23px;
    margin-left: -40px;
    text-align: center;
    width: 23px;
}
.step-list li .explain {
    background-color: transparent;
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 0.3em;
}
/* Inside modal styles*/
div.modal {
	text-align: center;
}
.modal span{
	font-size:1em;
	text-align: center;
	display: inline;
}

/*Show window, link/button styles */
.fg-button { 
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   font-weight: bold;
   zoom: 1; 
}
